@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    ==================
    Body Section
    ================== 
*/

body {
    background: snow;
}

/*
    ==================
    Navigation Section
    ================== 
*/

nav {
    width:100%;
    margin-top: 2%;
    font-family: "Raleway", sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0% 10%;
}

nav li {
    display: inline-block;
    width: 24%;
    padding: 1vh 0;
    background: mistyrose;
}

nav li a {
    display: block;
    text-align: center;
}

nav a:link, nav a:visited {
    color: dimgray;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color: seashell;
}


/*
    ==================
    Heading Section
    ================== 
*/

h1, h2 {
    font-weight: normal;
    text-align: center;
    font-family: "Indie Flower", cursive;
    color: dimgray;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}


/*
    ==================
    Article Section
    ==================
*/
article h1 {
    margin-top: 10%;
}

article p {
    font-family: "Raleway", sans-serif;
    padding: 10% 10% 0;
    font-size: 1em;
    line-height: 1.5em;
    color: dimgray;
}